.Introduce__Menu__Content.one {
    background-color: #59cca6;
}
.Introduce__Menu__Content.two {
    background-color: #91ad41;
}

.Introduce__Menu__Content.Three {
    background-color: #e3b375;
}
.Introduce__Menu__Content.Four {
    background-color: #ef7f94;
}
.Introduce__Menu__Content .col_content {
    
    width: 100%;
    padding-bottom: 100%;

}
 .Introduce__Menu__Content{
     
        background: none;
        position: relative;
        padding: 0;
        background-size: 50% auto;
        background-repeat: no-repeat;
        background-position: right center;
    
}
.Introduce__Menu__Content .col_content {
    width: 100%;
    padding-bottom: 100%;
}
.col_content .content_ {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 74px;
    width: 60%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.Introduce__Menu__Content .content_ h3 a {
    color: #fff;
    font-size: 25px;
}
.banner_content {
    background: none;
    position: relative;
    padding: 0;
    background-size: 50% auto;
    background-repeat: no-repeat;
    background-position: right center;
}
.container-fluid, .row {
    margin: 0;
    padding: 0;
  }
  
  .container-fluid .col-md-6 {
    padding: 0;
  }
  .Introduce__Menu__Content.one  .content_ .btn_xem {
    border-radius: 5px;
    height: 45px;
    line-height: 45px;
    margin-bottom: 10px;
    background: #27272f;
    padding: 0px 20px;
    border: none;
}
.Introduce__Menu__Content.two  .content_ .btn_xem {
    border-radius: 5px;
    height: 45px;
    line-height: 45px;
    margin-bottom: 10px;
    background: #27272f;
    padding: 0px 20px;
    border: none;
} .Introduce__Menu__Content.Three  .content_ .btn_xem {
    border-radius: 5px;
    height: 45px;
    line-height: 45px;
    margin-bottom: 10px;
    background: #27272f;
    padding: 0px 20px;
    border: none;
} .Introduce__Menu__Content.Four  .content_ .btn_xem {
    border-radius: 5px;
    height: 45px;
    line-height: 45px;
    margin-bottom: 10px;
    background: #27272f;
    padding: 0px 20px;
    border: none;
}